body{
    background-color: blanchedalmond;
}
h2{
    text-align: center;
    color: brown;
}
.center{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
button{
    color: white;
    background-color: black;
    font-size: large;
    border-radius: 20%;
}